div {
    border: black 1px solid;
    height: 100px;
    width: 100px;
}

#gridContainer {
    border: red 1px solid;
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;


}

