#gridContainer {
    border: 1px black solid;
    padding: 0;
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;

}

div {
    border: black 1px solid;
    flex-basis: 20%;
    flex-grow: 1;
}

